h1{
    color: black;
    display: flex;
    border: 1px;
    justify-content: center;
}



.summaryflex1{
    display: flex;
    justify-content: center;
border: 1px;
border-style: solid;
align-items: center;
flex-flow: flex-wrap;
background-color: black;
margin: 20%;
padding: .9%;
text-align: center;
color: white;
}


.summaryflex2{
    display: flex;
    justify-content: center;
border: 1px;
border-style: solid;
background-color: black;
margin: 20%;
padding: .9%;
text-align: center;
color: white;

}

.summaryflex3{
    display: flex;
   
border: 1px;
border-style: solid;
background-color: black;
margin: 20%;
padding: .9%;
text-align: center;
color: white;
}

.summaryflex4{
    display: flex;
    justify-content: center;
border: 1px;
border-style: solid;
background-color: black;
text-align: center;
margin: 20%;
padding: .9;
color: white;
}
.flex{
display:flex;
justify-content:center;
background-color: black;


}
.navLink{
text-decoration:none;
margin:1em;
padding:5em;
color: white;
}
.newsflex{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-image:linear-gradient(to right, white 0%, black 100%);


}
 h1{
    display:flex;
    justify-content:center;
    
  
}
.divlink{
    
   margin:1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
   
}
body{
    font-family:cursive;
}
header > h1{
    color:black;
}
.image{height:30vh;width:30vw;}